@using MvcCoreTutorial.Models.Domain;
@model Person
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
<h1>Add Person</h1>
<div class="mt-3" style="width :50%">
    <form asp-action="AddPerson">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span class="text danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control">
            <span class="text danger" asp-validation-for="Email"></span>
        </div>

        @if(TempData["msg"]!=null){
            <div class="mb-3">
                @TempData["msg"]
            </div>
        }
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/Person/DisplayPerson" class="btn btn-primary">All Person</a>
    </form>
</di>

